[submodule "faster-rcnn"]
	path = faster-rcnn
	url = https://github.com/pierre-ecarlat/tf-faster-rcnn.git
[submodule "ssd"]
	path = ssd
	url = https://github.com/pierre-ecarlat/SSD-Tensorflow.git
[submodule "yolo"]
	path = yolo
	url = https://github.com/pierre-ecarlat/darkflow.git
[submodule "models"]
	path = models
	url = https://github.com/pierre-ecarlat/models
